/** @format */

#Mainsection {
	width: 100%;
	height: 100vh;
	background-color: #ffd9e6;
}

.galaxy2 {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100vh;
	gap: 2px;
	background-color: #ffd9e6;
}

#COlumn1 {
	background-color: #ffd9e6;
}

#CustomerDonationImg {
	width: 100%;
	height: 100vh;
}

.CharityBtn {
	margin-top: -8rem;
	margin-left: 0;
}

.myCharityBtn {
	width: 10rem;
	background-color: #02101e;
	color: #f8fafc;
	border-radius: 2rem;
	height: 6vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
	border: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#COlumn2 {
	background: transparent
		linear-gradient(122deg, #ffd9e6 0%, #f1dbee 46%, #b7cdff 100%) 0% 0%
		no-repeat padding-box;
}

.GoBackBtn {
	margin-top: 0;
	width: 10rem;
	text-align: center;
	height: 8vh;
	float: right;
	margin-right: 2rem;
	border-radius: 0.5rem;
	border: solid 1px;
	background: #05305b 0% 0% no-repeat padding-box;
	border: 1px solid #05305b;
	border-radius: 0px 0px 9px 9px;
	font-family: Open Sans, Semibold;
	letter-spacing: 0px;
	color: #f8fafc;
	font-size: 1.5rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;
}

.label1 {
	margin-left: 10rem;
	font-family: serif;
	font-size: 1rem;
	font-weight: bold;
}

.label2 {
	margin-right: 10rem;
	font-family: serif;
	font-size: 1rem;
	font-weight: bold;
}

.formData {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Inputs {
	display: block;
	padding: 10px 3px 5px 2px;
	width: 100%;
	margin-top: 1.5rem;
	background-color: #9b9a9a;
	height: 7vh;
	border-radius: 0.5rem;
	outline: none;
	padding-left: 0.855rem;
}

.Inputs::-webkit-inner-spin-button {
	display: none;
}

.Inputs1 {
	width: 46.4%;
	margin-top: 1.5rem;
	background-color: #9b9a9a;
	height: 7vh;
	border-radius: 0.8rem;
	outline: none;
	padding-left: 0.855rem;
}

.Inputs2 {
	width: 46.4%;
	margin-top: 1.5rem;
	background-color: #9b9a9a;
	height: 7vh;
	margin-left: 1.5rem;
	border-radius: 0.5rem;
	outline: none;
	padding-left: 0.855rem;
}

.Inputs2::placeholder {
	padding-left: 1rem;
	color: white;
}

.Inputs1::placeholder {
	padding-left: 1rem;
	color: white;
}

.Inputs::placeholder {
	padding-left: 1rem;
	color: white;
}

.SubmitBtn {
	width: 100%;
	background-color: #ea3275;
	height: 7vh;
	border-radius: 0.5rem;
	margin-top: 1.5rem;
	color: #ffffff;
	font: normal normal normal 16px/22px Open Sans;
	letter-spacing: 0px;
}

.DonateCharity {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	font-family: serif;
	font-size: 1.3rem;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.galaxy2 {
		display: flex;
		flex-direction: column;
	}
	#COlumn1 {
		background-color: #ffd9e6;
		position: absolute;
		width: 100%;
	}
	#COlumn2 {
		z-index: 2;
		width: 100%;
		height: 100vh;
		background: transparent
			linear-gradient(122deg, #ffd9e600 0%, #f1dbee 46%, #b7cdffc4 100%) 0% 0%
			no-repeat padding-box;
	}
}
