body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
  }
  
  .donations-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .donations-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .donations-table thead {
    
    color:black;
  }
  
  .donations-table th,
  .donations-table td {
    padding: 12px;
    text-align: left;
  }
  
  .donations-table th {
    font-size: 16px;
    font-weight: bold;
  }
  
  .donations-table td {
    font-size: 14px;
  }
  
  .donations-table tr:nth-child(even) {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
  }
  
  .donations-table tr:hover {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
  }
  
  .last-month-section {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
  }
  
  .download-button {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  .download-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  