.container-full {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: transparent linear-gradient(122deg, #ffd9e6 0%, #f1dbee 46%, #b7cdff 100%) 0% 0% no-repeat padding-box;
    padding: 0 36px;
}

.header-1 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.mybtn {
    width: 189px;
    height: 58px;
    background: #05305B 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 9px 9px;
    text-align: center;
    font: normal normal 600 16px/22px Open Sans;
    color: #f8fafc;
    text-transform: capitalize;
    display: none;
}

.text-short {
    display: none;
}

.header-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 40px 42px 0;
}

.hamburger-container {
    width: 18px;
    height: 16px;
}

.hamburger {
    width: 18px;
    height: 16px;
    background: transparent url("/Component 46 – 1.png") 0% 0% no-repeat padding-box;
}

.hamburger.hide {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.logoCaption {
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.mydonatebtn {
    width: 185px;
    height: 48px;
    background: #ea3275 0% 0% no-repeat padding-box;
    border-radius: 29px;
    text-align: center;
    font: normal normal 600 16px/22px Open Sans;
    color: #f8fafc;
    text-transform: capitalize;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
}

.cards {
    display: flex;
    padding-bottom: 48px;
    justify-content: space-between;
    overflow: hidden;
}

.card {
    margin: 26px 16px 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 178px;
    height: 179px;
    background: transparent linear-gradient(135deg, #ffffff 0%, #ffffff14 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #f8fafc26;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex: 1;
}

.card img {
    width: 20px;
    height: 20px;
}

.card p {
    width: 132px;
    height: 66px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0.48px;
    color: #000000;
    opacity: 1;
}

.card .card-2 {
    display: none;
}

.section-2 .input {
    padding: 0 24px;
    width: 599px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9b9a9a33 0% 0% no-repeat padding-box;
    border: 1px solid #f8fafc;
    border-radius: 29px;
    opacity: 1;
}

.input input {
    width: 80%;
    height: 100%;
    background-color: transparent;
    outline: none;
}

.input input::placeholder {
    width: 142px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0.48px;
    color: #707070;
    opacity: 1;
}

.input .mic {
    font-size: 24px;
    color: #9b9a9a;
}

.sideBarMenu {
    width: 220px;
    height: 100vh;
    background: transparent linear-gradient(164deg, #ffffff 0%, #ffffff14 100%) 0% 0% no-repeat padding-box;
    top: 0;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0.48px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}

.section-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.times-icon {
    position: relative;
    width: 18px;
    height: 16px;
    display: inline-block;
}

.times-icon::before,
.times-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform-origin: center;
}

.times-icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.times-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#sideListData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:576px) {
    .header-1 .mybtn {
        position: absolute;
        right: 0;
        margin-top: 1.8rem;
        width: 140px;
        height: 45px;
        border-radius: 1rem;
        font-size: 1.5rem;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .text-full {
        display: none;
    }
    .text-short {
        display: inline;
    }
    .header-2 .hamburger-container {
        font-size: 1.5rem;
        position: absolute;
        left: 0.5rem;
    }
    .main .section-1 {
        margin-top: 4rem;
    }
    .logoCaption {
        font-size: 1.2rem;
    }
    .mydonatebtn {
        font-size: 1.2rem;
    }
    .cards {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: thin;
        -ms-overflow-style: none;
        scrollbar-width: none;
        flex-direction: column;
    }
    .card {
        flex: 0 0 30%;
        margin-right: 10px;
        overflow: hidden;
        height: 8vh;
    }
    .cards::-webkit-scrollbar {
        display: none;
    }
    .card img {
        display: none;
    }
    .card p {
        display: none;
    }
    .card .card-2 {
        display: block;
        font-size: 1.2rem;
        text-align: center;
    }
    .section-2 .input {
        width: 20rem;
    }
}