body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
}

.info-section-container {
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    border-bottom: 1px solid #ddd; /* Optional: to give a visual separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for a slight shadow effect */
}

.show-all-button {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Space between the button and the list */
    transition: background-color 0.3s;
}

.show-all-button:hover {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
}

.organizations-list {
    flex: 1;
    margin-left:50px;
}

.organizations-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.organizations-list li {
    margin-bottom: 10px;
}

.info-content {
    max-width: 300px;
    position: relative;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow styling */
}

.info-content h3 {
    margin-top: 0;
}

.info-content p {
    margin: 5px 0;
}

.custom-donation-button {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.custom-donation-button:hover {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
}

.love-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.love-button:hover {
    background-color: #ff1493;
}

.next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.next-button:hover {
    background: linear-gradient(to right, rgba(255, 182, 193, 0.5), rgba(173, 216, 230, 0.5));
}
